extends layout.pug

block main
  section.hero.is-info.is-large
    div.hero-body
      div.container
        h1.title.animate__animated.animate__zoomIn Liam O'Hanlon
        //h2.subtitle.animate__animated.animate__slideInUp Curriculum Vitae
